body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
    border: 0px;
    background: #f7f6f2;
}

.todo-list {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 40px;
    background: #FFFFF0;
}

ul {
    margin: 10;
    padding: 10;
}

ul li {
    position: relative;
    padding: 10px;
    font-size: 20px;
    background: #eee;
    gap: 200px;
}

.middle{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 70px;
}

.imageScroller{
    overflow: hidden;
    padding: 60px 0;
    background: #f7f6f2;
}

.image{
    white-space: nowrap;
}

.imageScroller img{
    height: 300px;
    width: 400px;
    margin: 0 40px;
}

.gray {
    background-color: gray;
}

