*{
    font-family: "Monaco", Verdana, Lucida Console;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    gap: 90px;
    border: 0px;
    background: #f7f6f2;
    border-color: rgb(0, 0, 0);
    border-style: solid;
}

.tasks{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
    height: 500px;
    border-radius: 25px;
}

#ineed{
    margin-bottom: 100px;
    font-size: 55px;
}

.header {
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: center;
    width: 100%;
    height: 500px;
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

h2 {
    font-size: 40px;
    background: #f7f6f2;
}


.middle{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: space-evenly;
    gap: 70px;
    border-style: solid;
    border-color: black;
    padding: 60px;
    border-radius: 25px;
}

#image{
    height: 300px;
    width: 400px;
    margin: 0 30px;
    transition: 5s;
}

.gray {
    background-color: gray;
}

label {
    font-weight:normal;
    margin-bottom: -2px;
    font-family: "Gill Sans", sans-serif;
}

#search-bar {
    border-color: black;
    border-radius: 15px;
    border-style: dotted;
}

#input-button {
    border-color: black;
    border-radius: 15px;
    border-style: dotted;
}

.header {
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;
    align-self: center;
}

h2 {
    font-size: 40px;
    background: #f7f6f2;
}

ul {
    margin: 10;
    padding: 10;
}

ul li {
    position: relative;
    padding: 10px;
    font-size: 20px;
    background: #eee;
    gap: 200px;
    list-style-type: size;
}

.container-timer {
    display: flex;
    margin: 0 auto;
    max-width: 400px;
    justify-content: center;
    padding: 20px;
}

.timer-title {
    font-size: 48px;
}

.timer-duration {
    font-size: 64px;
}

button {
    font-size: 24px;
    padding: 10px 20px;
    margin: 10px;
    color: white;
    background-color: #8b7342;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    opacity: .7;
}

.gray {
    background-color: gray;
}

#task-div {
    margin-top: 200px;
    border-style: solid;
    border-color: black;
}

audio::-webkit-media-controls-panel{
    background-color: #f7f6f2;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    display: none;
}